<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	
	<appender name="LOGFILE_YMULTI_BOOK" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="append" value="true" />
		<param name="file"
			value="/home/ykkim/logs/ymulti_book.log" />		 
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%p] - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>	
	
	<!-- 	RULES for logging DEBUG < INFO < WARN < ERROR < FATAL.-->
   	<!--  #콘솔에 쿼리 찍으려면 java.sql를 DEBUG 한다.  #-->
     <category name="java.sql">
         <priority value="ERROR" />
         <!-- <priority value="" />-->
    </category>    
    
	<logger name="ymulti_book">
		<level value="INFO" />
		<appender-ref ref="LOGFILE_YMULTI_BOOK" />
	</logger>    
		
	<root>		
		<level value="WARN" />      
		<appender-ref ref="CONSOLE" />		
	</root>
	
</log4j:configuration>